<!DOCTYPE html>
<html>

<head>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="//rawgithub.com/ducksboard/gridster.js/master/dist/jquery.gridster.min.css" rel="stylesheet">

  <style>
    body {
      padding: 0 10px;
    }
    .page-header {
      margin-top: 20px;
    }
    ul {
      list-style: none;
    }
    .box {
      border: 1px solid #ccc;
      background-color: #fff;
    }
    .box-header {
      background-color: #eee;
      padding: 0 10px;
      border-bottom: 1px solid #ccc;
      cursor: move;
    }
    .box-header h3 {
      margin-top: 10px;
      display: inline-block;
    }
    .box-content {
      padding: 10px;
    }
    .box-header-btns {
      margin-top: 15px;
      cursor: pointer;
    }
    a {
      color: #ccc;
    }
    form {
      margin-bottom: 0;
    }
  </style>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script type="text/javascript" src="//rawgithub.com/ducksboard/gridster.js/master/dist/jquery.gridster.min.js"></script>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.7.0/ui-bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>

  <script src="src/ez-gridster.js"></script>
  <script src="dist/ez-gridster-tpl.js"></script>

  <script>
      angular.module('myApp', ['ez.gridster', 'ui.bootstrap'])

      .controller('AppCtrl', ['$scope', function($scope) {

        $scope.options = {
          widget_base_dimensions: [400, 300]
        };

        $scope.dashboards = {
          '1': {
            id: '1',
            name: 'Home',
            widgets: [
              {
                col : 1,
                row: 1,
                size_y: 1,
                size_x: 1,
                name: "Widget 1"
              },
              {
                col : 3,
                row: 1,
                size_y: 1,
                size_x: 1,
                name: "Widget 2"
              }
            ]
          },
          '2': {
            id: '2',
            name: 'Other',
            widgets: [
              {
                col : 1,
                row: 1,
                size_y: 1,
                size_x: 2,
                name: "Other Widget 1"
              },
              {
                col : 1,
                row: 3,
                size_y: 1,
                size_x: 1,
                name: "Other Widget 2"
              }
            ]
          }
        };

        $scope.widgets = [];

        $scope.addWidget = function() {
          $scope.$broadcast('ez_gridster.add_widget', {name: "New Widget"});
        };

        $scope.clear = function() {
          $scope.$broadcast('ez_gridster.clear');
        };

        $scope.$on('ez_gridster.widget_added', function(e, widget) {
          console.log('save the widget to your db', widget);
        });

        $scope.$on('ez_gridster.widget_removed', function(e, widget, index) {
          console.log('remove widget in db', widget);
        });

        $scope.$on('ez_gridster.widget_dragged', function() {
          alert('dragged');
        });

        $scope.$on('ez_gridster.widget_resized', function() {
          alert('resized');
        });

        $scope.$watch('selectedDashboardId', function(newVal, oldVal) {
          $scope.$broadcast('ez_gridster.set', $scope.dashboards[newVal].widgets);
        });

        // init dashboard
        $scope.selectedDashboardId = '1';
      }])

      .controller('CustomWidgetCtrl', ['$scope', '$modal', function($scope, $modal){
        $scope.openSettings = function(widget, index) {
          $modal.open({
            scope: $scope,
            templateUrl: 'widget_settings.html',
            controller: 'WidgetSettingsCtrl',
            resolve: {
              widget: function() {
                return widget;
              },
              index: function() {
                return index;
              }
            }
          });
        };
      }])

      .controller('WidgetSettingsCtrl', ['$scope', '$rootScope', '$modalInstance', 'widget', 'index', function($scope, $rootScope, $modalInstance, widget, index){
        $scope.widget = widget;

        $scope.remove = function() {
          $scope.removeWidget(index); // call parent scope method
          $modalInstance.close();
        };
      }])

      // helper code
      .filter('object2Array', function() {
        return function(input) {
          var out = [];
          for(i in input){
            out.push(input[i]);
          }
          return out;
        }
      })
    ;

  </script>
</head>
<body ng-app="myApp">

  <div ng-controller="AppCtrl">
    <div class="page-header">
      <a class="pull-right btn btn-primary" ng-click="addWidget()"><i class="icon-plus"></i> Add Widget</a>
      <a class="pull-right btn btn-warning" ng-click="clear()"><i class="icon-trash"></i> Clear</a>
      <h1>ez-gridster
        <select ng-change="changeDashboard()" ng-model="selectedDashboardId" ng-options="d.id as d.name for d in dashboards | object2Array | orderBy:'id'">
        </select>
      </h1>
    </div>
    <div ez-gridster="widgets" ez-gridster-options="options"></div>
  </div>

  <script id="ez-gridster-tpl.html" type="text/ng-template">
    <div ng-controller="CustomWidgetCtrl">
      <div class="box-header">
        <h3>{{ widget.name }}</h3>
        <div class="box-header-btns pull-right">
          <a title="settings" ng-click="openSettings(widget, $index)"><i class="icon-cog"></i></a>
          <a title="Remove widget" ng-click="removeWidget($index)"><i class="icon-remove"></i></a>
        </div>
      </div>
      <div class="box-content">
        Custom template
        {{ widget.name }}
      </div>
    </div>
  </script>

  <script id="widget_settings.html" type="text/ng-template">
    <form name="widget_form" class="form-horizontal" ng-submit="submit()">
      <div class="modal-header">
        <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
        <h3>Widget Settings</h3>
      </div>

      <div class="modal-body no-padding">
        Edit settings for {{ widget.name }} here.
      </div>

      <div class="modal-footer">
        <a ng-click="remove()" class="btn btn-danger pull-left" tabindex="-1"><i class="icon-trash"></i>Delete</a>
        <a ng-click="dismiss()" class="btn" tabindex="-1"><i class="icon-arrow-left"></i>Cancel</a>
      </div>
    </form>
  </script>

</body>

</html>

